:root {
  --corners: 20px;
  --accent-color: hsl(182, 33%, 77%);
  --panel-slide-rate: 400ms;
}

.inset-shadow {
  /* width: 200px; */
  /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33); */
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 0px 0.3vw);
  /* height: 50%; */
  clip-path: inset(15%);
  border: 5px solid purple;
}

body {
  /* background-color: grey; */
  background-color: #ccc;
}

.nav-bar {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn-nav {
  user-select: none;
  background-color: #d5d5d5;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 90);
  margin: 10px;
  padding: 10px;
  border-radius: var(--corners);
  border-style: none none solid none;
  border-color: rgb(150, 150, 150);
  border-width: 5px;
}

.btn-nav-depressed {
  border-style: none none none none !important;
  /* border: 0px none rgba(0, 0, 0, 0) !important; */
  background-color: var(--accent-color);
}

.shadow-inset {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.0);
}

.shadow-outset {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0);
}

/* .panel-left {transform: translateX(-100vw)} */
/* .panel-right {transform: translateX(-100vw)} */

/* .hidden { visibility: collapse;} */

.panel-col {
  width: 100%;
  /* height: 10px; */
  /* background-color: aquamarine; */
  position: relative;
}

.panel-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  visibility: hidden;
}

.panel-content {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ddd;
  border-radius: var(--corners);
  padding: 20px;

  height: 60vh;
  /* visibility: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlap-test {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: aqua;
  z-index: -100;
}

img {
  position: relative;
  z-index: -1000;
}

.panel-bg {
  z-index: -20;
  background-color: #962323;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: var(--corners);
  /* padding: 20px; */

  height: 60vh;
}

.panel-shadow {
  pointer-events: none;
  padding: 100px;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: var(--corners);
  /* padding: 20px; */

  height: 60vh;
}

.active-panel { visibility: visible; }

.panel-exit-left   { visibility: visible; animation: panelExitLeft   var(--panel-slide-rate) linear 0s 1 normal forwards; }
.panel-exit-right  { visibility: visible; animation: panelExitRight  var(--panel-slide-rate) linear 0s 1 normal forwards; }
.panel-enter-left  { visibility: visible; animation: panelEnterLeft  var(--panel-slide-rate) linear 0s 1 normal forwards; }
.panel-enter-right { visibility: visible; animation: panelEnterRight var(--panel-slide-rate) linear 0s 1 normal forwards; }

@keyframes panelExitLeft {
  from {transform: translateX(0vw)}
  to   {transform: translateX(-100vw)}
}
@keyframes panelExitRight {
  from {transform: translateX(0vw)}
  to   {transform: translateX(100vw)}
}
@keyframes panelEnterLeft {
  from {transform: translateX(-100vw)}
  to   {transform: translateX(0vw)}
}
@keyframes panelEnterRight {
  from {transform: translateX(100vw)}
  to   {transform: translateX(0vw)}
}
