:root {
  --corners: 20px;
  --accent-color: hsl(182, 33%, 77%);
  --panel-slide-rate: 400ms;
  --panel-height: 70vh;
}

.inset-shadow {
  /* width: 200px; */
  /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33); */
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 0px 0.3vw);
  /* height: 50%; */
  clip-path: inset(15%);
  border: 5px solid purple;
}

body {
  /* background-color: grey; */
  background-color: #ccc;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.border-bottom-grey {
  border-bottom: 1.5px solid rgb(176, 176, 176);
}

.project-image {
  /* border-radius: var(--corners); */
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.project-video {
  /* border-radius: var(--corners); */
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.project-image-frame {
  overflow: hidden;
  background-color: rgb(33, 33, 33);
  border-radius: var(--corners);
  /* border-right: 1px solid rgb(201, 201, 201); */
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.project-info-frame {
  background-color: rgb(230, 230, 230);
  border-radius: var(--corners);
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.project-icons {
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0px; */
  /* height: 10vmin; */
  /* padding: .5vh; */
  padding: 5px;
  background-color: rgb(188, 188, 188);
  width: fit-content;
  width: 100%;
  border-radius: 10px;
  border-radius: var(--corners);
  border: 2px solid rgb(216, 216, 216);
  display: flex;
  justify-content: space-around;
}

.project-icon {
  /* margin: .5vh;
  height: 3vh; */
  margin: 5px;
  height: 33px;
  filter: drop-shadow(1px 1px 1px rgb(67, 67, 67));
}

/* scrollbar dimensions */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* scrollbar bg */
::-webkit-scrollbar-track {

  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.nav-container {
  overflow-x: hidden;
  width: 100vw;
}

.nav-bar {
  overflow-x: scroll;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  width: fit-content;
}

.nav-container::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

.nav-bar::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

.btn-def {
  user-select: none;
  background-color: #d5d5d5;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 90);
  margin: 10px;
  padding: 10px;
  border-radius: var(--corners);
  border-style: none none solid none;
  border-color: rgb(150, 150, 150);
  border-width: 5px;
}

.btn-nav {
  white-space: nowrap;
  user-select: none;
  background-color: #d5d5d5;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 90);
  margin: 10px;
  padding: 10px;
  border-radius: var(--corners);
  border-style: none none solid none;
  border-color: rgb(150, 150, 150);
  border-width: 5px;
}

.btn-nav-depressed {
  border-style: none none none none !important;
  /* border: 0px none rgba(0, 0, 0, 0) !important; */
  background-color: var(--accent-color);
}

.shadow-inset {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.0);
}

.shadow-outset {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0);
}

/* .panel-left {transform: translateX(-100vw)} */
/* .panel-right {transform: translateX(-100vw)} */

/* .hidden { visibility: collapse;} */

.panel-col {
  width: 100%;
  /* height: 10px; */
  /* background-color: aquamarine; */
  position: relative;
}

.panel-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  visibility: hidden;
}

.panel-content {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ddd;
  border-radius: var(--corners);
  padding: 20px;

  height: var(--panel-height);
  /* visibility: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
}

/* img {
  position: relative;
  z-index: -1000;
} */

.panel-bg {
  z-index: -20;
  background-color: #962323;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: var(--corners);
  /* padding: 20px; */

  height: var(--panel-height);
}

.panel-shadow {
  pointer-events: none;
  padding: 100px;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: var(--corners);
  /* padding: 20px; */

  height: var(--panel-height);
}

.active-panel { visibility: visible; }

.panel-exit-left   { visibility: visible; animation: panelExitLeft   var(--panel-slide-rate) linear 0s 1 normal forwards; }
.panel-exit-right  { visibility: visible; animation: panelExitRight  var(--panel-slide-rate) linear 0s 1 normal forwards; }
.panel-enter-left  { visibility: visible; animation: panelEnterLeft  var(--panel-slide-rate) linear 0s 1 normal forwards; }
.panel-enter-right { visibility: visible; animation: panelEnterRight var(--panel-slide-rate) linear 0s 1 normal forwards; }

@keyframes panelExitLeft {
  from {transform: translateX(0vw)}
  to   {transform: translateX(-100vw)}
}
@keyframes panelExitRight {
  from {transform: translateX(0vw)}
  to   {transform: translateX(100vw)}
}
@keyframes panelEnterLeft {
  from {transform: translateX(-100vw)}
  to   {transform: translateX(0vw)}
}
@keyframes panelEnterRight {
  from {transform: translateX(100vw)}
  to   {transform: translateX(0vw)}
}
